# Docker Compose override file
docker-compose.override.yml

# Other files and directories that should not be tracked by Git
*.log
*.tmp
*.bak
*.swp
.DS_Store

# Ignore everything in the QMK firmware directory
qmk_firmware/*

# But don't ignore the keymap directory for your keyboard
!qmk_firmware/keyboards/keychron/k6/keymaps/your_keymap/

